---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "py-4 sm:py-3",
      "border-t border-border",
      "flex flex-col items-center justify-between sm:flex-row-reverse",
    ]}
  >
    <Socials />
    <div class="my-2">
      <a href="/imprint" class="hover:text-accent">Imprint</a>
    </div>
  </div>
</footer>
